.cookieImg{
    margin-bottom: 20px;
    cursor: pointer;
    transition: transform 200ms;

    &:hover{
        transform: scale(1.2);
    }

    &:active{
        transform: scale(1.1);
    }
}
.gameContent > div{
    display:flex;
    flex-direction: row;
    height: 100%;
    max-height:89vh;
    overflow: hidden;
    //max-height: 100vh;
    width: 100%;
    max-width:100vw;

    & button{
        margin-bottom: 5px;
    }
}
.mainSection{
    max-width:80%;
    width: 80%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;

    & [id="clickValue"],
    & [for="clickValue"]{
        max-width: 50%;
    }
}