.navbar{
    border: 1px solid #FFF;
    width: 100vw;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    //height: 15vh;

    & button{
        display: block;
        padding: 5px;
        margin-left: auto;
        font-size: 24px;
    }
}